* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* * THIS PREVENTS SELECTION */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0px 0px 20px #aaaaaa;
  width: 100vw;
  height: 100vh;
}

main {
  background-color: rgba(0, 0, 0, 0.285);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 15px;
}

/* ! GENERAL STYLES */
.input-text {
  color: #fff;
  font-size: 1rem;
  border: none;
  background: none;
}

.input-text:focus {
  outline: none;
}

/* ! GENERAL STYLES */
/* * TOP CONTAINER */
.top-container {
  display: flex;
  justify-content: space-between;
}

/* * CLOCK INFO */
.clock-info {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

/* * WEATHER INFO */

.weather-div {
  display: flex;
  flex-direction: column;
}

.temp-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.temp-info {
  font-size: 2rem;
  margin-left: 0.2em;
  display: flex;
  align-items: center;
}

.temp-secondary {
  display: block;
  flex-direction: column;
  font-size: 1rem;
}

.weather-icon {
  width: 40px;
}

/* * GREETING INFO */

.greeting {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

/* * TODO LIST */
.task-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.task-container span {
  margin: 0.5em 0;
}

.done {
  color: rgb(92, 92, 92);
  text-decoration: line-through;
}

.todo-container {
  color: #fff;
  background-color: #000000d1;
  border-radius: 5px;
  padding: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 70px;
  right: 16px;
}

.new-task-div {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 0.5em;
}

/* * TASKS INPUT */

.new-task-el {
  margin-left: 0.5em;
}

/* * Pomodoro container */

.nav-item {
  cursor: pointer;
}

.pomodoro-container {
  background-color: #000000d1;
  border-radius: 5px;
  padding: 1em;
  line-height: 2em;
  position: absolute;
  bottom: 80px;
  right: 16px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pomodoro-timer {
  display: flex;
  justify-content: space-evenly;
}

.pomodoro-timer button {
  border: none;
  background: none;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}

.todo-container #completed-button {
  cursor: pointer;
}

/* * HIDING BY DEFAULT */

.hide {
  display: none;
}
